<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Type</td>
      <td>Parent</td>
      <td>User name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @boks.each do |bok| %>
      <tr>
        <td><%= link_to bok.id, bok %></td>
        <td><%= link_to bok.title, bok %></td>
        <td><%= bok.bok_type %></td>
        <td><%= bok.parent.title if bok.parent%></td>
        <td><%= bok.user_name %></td>
        <td><%= link_to 'Edit', edit_bok_path(bok) %></td>
      </tr>
    <% end %>
  </tbody>
</table>